@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-700;
}

@keyframes example {
  0%,
  100% {
    mask-size: 100% 100px;
  }
  50% {
    mask-size: 100% 500px;
  }
}

#dotdotdot {
  @apply invisible absolute left-0 top-0 -z-10 block h-[500px] w-screen md:visible;
  background-image: radial-gradient(rgb(100, 116, 139) 2px, transparent 0);
  background-size: 30px 30px;
  mask-image: linear-gradient(to bottom, rgba(204, 251, 241, 1), rgba(216, 180, 254, 0));
  mask-size: 100% 100px;
  mask-repeat: no-repeat;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media (prefers-reduced-motion) {
  #dotdotdot {
    animation: none;
  }
}

.text-outline {
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

